$white: #ffffff;
$athens-gray: #f2f2f5;
$spindle: #b8c0d8;
$waterloo: #7f8694;
$astronaut: #3c556e;
$mine-shaft: #393939;
$dolly: #f5ea75;
$dodger-blue: #2979ff;
$bay-of-many: #080844;

$black: #262626;
$Label-color: #2f3035;
$action: #e5efff;

$text-secondary: #3b3f5f;

$spindle: #b8c8d8;
$red: #d00;
