.study-content-tab {
  padding: 2rem;

  .tab-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .content-actions {
    display: flex;
    direction: rtl;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 1rem;

    .search-bar {
      position: relative;
      display: flex;
      align-items: center;

      .search {
        height: 4.5rem;
        color: #000;
        text-align: right;
        font-family: "Noto Sans", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 15px;
        width: 24rem;
        padding: 1rem;
        border-radius: 5px;
        border: 1px solid #ddd;
        background: #fff;
      }

      .search-icon {
        position: absolute;
        left: 1rem;
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .content-area {
    width: 100%;
  }

//   .grid-actions {
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
//     gap: 2rem;
//   }
}
